

<html lang="en">
  <head>
     
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
   <link rel="stylesheet" type="text/css" href="/login.css" >
  </head>
  <body>
    <div class="container">
    <h2 class="title">Log in</h2>
    <form action="/login" method="post">
      <input type="text" class="text" name="name" placeholder="Name" />
      <input type="password" class="text" name="password" placeholder="Password" />
      <input type="submit" class="btn" value="Login" />
    </form>
    <label class="member">New Member?</label>
    <a href="/signup" class="signup">Signup</a>
    </div>
  </body>
</html>