<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link rel="stylesheet" href="/signup.css">
</head>
<body>
  <div class="container">
    <h2 class="title">Sign up</h2>
    <form action="/signup" method="post">
      <input type="text" class="text" name="name" placeholder="Name" />
      <input type="password" class="text" name="password" placeholder="Password" />
      <input type="submit" class="btn" value="Submit"/>
    </form>
    </div>
</body>

</html>